header {
    padding: 0;
    margin: auto;
    font-family: 'poppins';
    width: 100%;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    box-shadow: 0 1px 3px -2px black;
}

.header-logo img {
    width: 140px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin: 0;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.nav-menu li.active a:hover {
    transition: color 0.3s ease-in-out;
    color: red;
}

.nav-menu a {
    text-decoration: none;
    color: #626262;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: rgba(192, 187, 192, 0.603);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/*Phan section */
.section-nav {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    height: 50px;
    border-bottom: 1px solid #bebaba;
    background-color: #000000;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 8px 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    outline: none;
}

.search-bar button {
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
    outline: none;
    border: 0.1px solid #cac8c8;
    cursor: pointer;
}

.span-id {
    display: flex;
    justify-content: space-around;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 19px;
    color: #ffffff;
    transition: 0.3 s;
}

.span-id:hover {
    color: red;
    transition: cubic-bezier();
}

.fa-location-dot:before,
.fa-map-marker-alt:before {
    content: "\f3c5";
    margin: 0 10px;
    font-size: 20px;
}

.fa-phone:before {
    content: "\f095";
    margin: 0 10px;
    font-size: 20px;
}

.fa-clock:before {
    content: "\f017";
    margin: 0 10px;
    font-size: 20px;
}

.fa-magnifying-glass:before,
.fa-search:before {
    content: "\f002";
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.fa-user:before {
    content: "\f007";
    margin-left: 20px;
    margin-right: 5px;
}