.body-container {
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.support-icon {
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-icon i {
    font-size: 40px;
}

.support-content {
    text-align: center;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #777;
}

/* phan dau tien trong home */
.btn-text {
    border: 1px solid #333;
    color: #010101;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    padding: 19px 50px 21px;
    text-transform: uppercase;
    text-decoration: none;
}

.content {
    margin-left: 160px;
    max-width: 600px;
    text-align: center;
    margin-top: 100px;
}

.content h1 {
    font-weight: 800;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    font-weight: 500;
    color: #333;
}

.content .btn {
    padding: 15px 80px;
    font-size: 15px;
}

/*.btn-text:hover {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-position: -100% 0;
    background-image: linear-gradient(45deg, #8b7e8d, #5f5a5c);
}
*/
.btn-text::before {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: all .5s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    z-index: -1;
}

.btn-text::after {
    background: #cac8cb;
    left: auto;
    right: 0;
    width: 0;
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    transition: all .5s cubic-bezier(.645, .045, .355, 1);
    z-index: -1;
}

.btn-text:hover::before {
    transform: translateX(100%);
}

.btn-text:hover::after {
    width: 100%;
    color: white;
}

.feature-img {
    width: 100%;
    margin-right: 120px;
    bottom: 0;
    right: 10%;
}

.contet-container {
    position: relative;
    display: flex;
    margin-bottom: 40px;
    height: 560px;
    max-width: 100%;
    background-color: rgba(131, 126, 127, 0.664);
    justify-content: space-between;
}

.animated-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 5s ease, transform 5s ease;
}

.animated-text.show {
    opacity: 1;
    transform: translateY(0);
}

.animated-img {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 4s ease, transform 4s ease;
}

.animated-img.show {
    opacity: 1;
    transform: translateX(0);
}

/* phần title */
.text--center {
    background-color: #000;
}

.section-title .h2,
.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    position: relative;
}

.section-title .h2:before,
.section-title h2:before {
    background-color: #ffffff;
    content: "";
    height: 2px;
    left: -100px;
    position: absolute;
    top: 17px;
    width: 80px;
}

.section-title .h2:after,
.section-title h2:after {
    background-color: #ffffff;
    content: "";
    height: 2px;
    position: absolute;
    right: -100px;
    top: 17px;
    width: 80px;
}

/*carousell*/
.brands-carousel {
    /* Tùy chỉnh kích thước và định vị của carousel */
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    /* Thêm border cho carousel */
    padding: 10px;
}

.brand-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.brand-item:hover {
    transform: scale(1.05);
}

.brand-item img {
    /* Tùy chỉnh kích thước và định dạng hình ảnh */
    width: 80%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
}

.brand-item:last-child {
    margin-right: 0;
}