* {
    font-family: 'Roboto', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ededed;
}

.login-form {
    width: 500px;
    padding: 30px;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.459);
    padding-top: 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login-title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.login-input {
    width: 100%;
    height: 50px;
    border-radius: 0;
    padding-left: 20px;
}

.login-button {
    width: 100%;
    font-size: 20px;
    height: auto;
}

.login-footer {
    text-align: center;
    margin-top: 16px;
}

/* Dang ky css*/

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: black;
}

.registration-form {
    width: 500px;
    height: 90vh;
    padding: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(61, 61, 61, 0.925);
}

.registration-title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 40px;
    font-family: serif;
    font-weight: 700;
}

.registration-input {
    width: 100%;
    height: 50px;
}

.registration-input {
    border-radius: 0;
    padding-left: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.registration-button {
    width: 100%;
    font-size: 20px;
    height: auto;
    border-radius: 0;
    color: black;
    border: 2px solid #333;
    background-color: rgb(255, 255, 255);
}

.registration-footer {
    text-align: center;
    margin-top: 16px;
}